@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
}

.menu {
  a {
    display: block;
    color: blue;
  }
}

.user,
.users {
  opacity: 0;
}